h1 {
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    text-shadow: 5px 5px 1px rgb(155, 141, 141);
  }

p{
    text-align: center;
    font-style: oblique;
}
img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;

  }
